/IV.Scocl/projects/vicecity/.vs
*.log
*.recipe
*.lastbuildstate
*.tlog
/IV.Scocl/projects/vicecity/sco
*.user
IV.Scocl/projects/vicecity/LAWYER/sco/LAWYER.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/ambstreams/sco/ambstreams.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/ambulance/sco/ambulance.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/AVERY/sco/AVERY.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/BIKE/sco/BIKE.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/bloodring/sco/bloodring.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/bmx/sco/bmx.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/business_sale/sco/business_sale.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/COKERUN/sco/COKERUN.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/conecrazy/sco/conecrazy.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/CORTEZ/sco/CORTEZ.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/COUNT/sco/COUNT.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/CUBAN/sco/CUBAN.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/DIAZ/sco/DIAZ.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/firetruck/sco/firetruck.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/WORLD/sco/WORLD.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/weap_sounds/sco/weap_sounds.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/vigilante/sco/vigilante.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/traffic/sco/traffic.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/taxi/sco/taxi.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/sunshine_race/sco/sunshine_race.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/sunshine_garages/sco/sunshine_garages.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/STRIP/sco/STRIP.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/street_phone/sco/street_phone.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/startup/sco/startup.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/side_quests/sco/side_quests.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/stadium/sco/stadium.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/sa_race6/sco/sa_race6.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/sa_race5/sco/sa_race5.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/sa_race4/sco/sa_race4.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/sa_race3/sco/sa_race3.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/sa_race2/sco/sa_race2.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/sa_race1/sco/sa_race1.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/ROCK/sco/ROCK.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/rcrace/sco/rcrace.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/rcplne/sco/rcplne.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/rcheli/sco/rcheli.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/puzzle/sco/puzzle.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/PROTECT/sco/PROTECT.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/PRON/sco/PRON.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/pizza/sco/pizza.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/pickups/sco/pickups.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/PHIL/sco/PHIL.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/pcj/sco/pcj.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/packages/sco/packages.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/ovalring/sco/ovalring.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/mob_phone/sco/mob_phone.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/map_bounds/sco/map_bounds.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/MALIBU/sco/MALIBU.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/main/sco/main.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/kickstart/sco/kickstart.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/KAUFMAN/sco/KAUFMAN.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/intro/sco/intro.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/ICECREAM/sco/ICECREAM.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/heli/sco/heli.vcxproj.FileListAbsolute.txt
IV.Scocl/projects/vicecity/HAITI/sco/HAITI.vcxproj.FileListAbsolute.txt
